body{
	background-color: transparent;
}

.glass {
    backdrop-filter: blur(3px);
    background-color:rgba(255, 255, 255,0.75);
}

.glass-dark {
    backdrop-filter: blur(6px);
    background-color:rgba(47, 62, 73, 0.25);
}

.transparent {
    background-color: transparent;
}

.homeyAnimation:before {
    display: block;
    content: "";
    width: 250vw;
    height: 250vw;
    background: url(../images/homey.svg) no-repeat 50%;
    background-size: contain;
    -webkit-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
}

.homeyAnimation {
    overflow: hidden;
    position: absolute;
    left: -55vw;
    top: -40vw;
	right: 0;
	z-index: -1000;
}

.rotate {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite
}

.counterrotate {
	-webkit-animation: counterrotate 2s linear infinite;
	animation: counterrotate 2s linear infinite
}

@-webkit-keyframes rotate {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(1turn)
	}
}

@-webkit-keyframes counterrotate {
	0% {
		transform: rotate(1turn)
	}
	to {
		transform: rotate(0deg)
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(1turn)
	}
}

@keyframes counterrotate {
	0% {
		transform: rotate(1turn)
	}
	to {
		transform: rotate(0deg)
	}
}

.loading {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999999999;
	overflow: hidden;
    backdrop-filter: blur(2px);
	background-color:rgba(47, 62, 73, 0.25);
	border-radius: 4px;
  }

  .sk-cube-grid {
	width: 120px;
	height: 120px;
	margin: 50% auto;

	border-style: solid;
	border-width: 0px;
	border-color: white;
  }
  
  .sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
			animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; 
			border-top: 2px solid rgb(47, 62, 73);
			border-left: 2px solid rgb(47, 62, 73);
			border-top-left-radius: 8px;
		}
  .sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s; 
			border-top: 2px solid rgb(47, 62, 73);
		}
  .sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s; 
			border-top: 2px solid rgb(47, 62, 73);
			border-right: 2px solid rgb(47, 62, 73);
			border-top-right-radius: 8px;
		}
  .sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
			border-left: 2px solid rgb(47, 62, 73);
		 }
  .sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; 
		}
  .sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
			border-right: 2px solid rgb(47, 62, 73);
		 }
  .sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
			animation-delay: 0s; 
			border-bottom: 2px solid rgb(47, 62, 73);
			border-left: 2px solid rgb(47, 62, 73);
			border-bottom-left-radius: 8px;
		}
  .sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
			border-bottom: 2px solid rgb(47, 62, 73); 
		}
  .sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; 
			border-bottom: 2px solid rgb(47, 62, 73);
			border-right: 2px solid rgb(47, 62, 73);
			border-bottom-right-radius: 8px;
		}
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
	0%, 70% {
		-webkit-transform: scale3D(1, 1, 1);
				transform: scale3D(1, 1, 1);
				background-color: rgba(97, 112, 123, 0.65);
	  } 100%{
		  -webkit-transform: scale3D(1, 1, 1);
		  transform: scale3D(1, 1, 1);
		  background-color: rgb(77, 92, 103);
	  } 35% {
		-webkit-transform: scale3D(0.35, 0.35, 1);
				transform: scale3D(0.35, 0.35, 1);
				background-color: rgba(197, 212, 223,0.75);
	  } 
  }
  
  @keyframes sk-cubeGridScaleDelay {
	0%, 70% {
	  -webkit-transform: scale3D(1, 1, 1);
			  transform: scale3D(1, 1, 1);
			  background-color: rgba(97, 112, 123, 0.65);
	} 100%{
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
		background-color: rgb(77, 92, 103);
	} 35% {
	  -webkit-transform: scale3D(0.35, 0.35, 1);
			  transform: scale3D(0.35, 0.35, 1);
			  background-color: rgba(197, 212, 223,0.75);
	} 
  }